@model SCMS.ViewModels.Patient.PatientEditVm

<link rel="stylesheet" href="~/css/clinic.css" />

<div class="patient-edit">
    <h2>Update Profile</h2>

    @if (!ViewData.ModelState.IsValid)
    {
        <div class="form-alert">
            <strong>⚠️</strong> Please Update Your Info.
        </div>
    }

    <form asp-action="Edit" asp-controller="Patient" method="post" class="edit-form">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="PatientId" />

        <div class="form-grid">
            <div class="form-group">
                <label asp-for="FullName">Full Name</label>
                <input asp-for="FullName" class="form-control" placeholder="Enter full name" required />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Gender">Gender</label>
                <select asp-for="Gender" class="form-control" required>
                    <option value="">-- Select --</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
                <span asp-validation-for="Gender" class="text-danger" ></span>
            </div>

            <div class="form-group">
                <label asp-for="DateOfBirth">Date of Birth</label>
                <input asp-for="DateOfBirth" type="date" class="form-control" required/>
                <span asp-validation-for="DateOfBirth" class="text-danger" ></span>
            </div>

            <div class="form-group">
                <label asp-for="Address">Address</label>
                <input asp-for="Address" class="form-control" placeholder="Enter address" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <div class="form-group full">
                <label asp-for="MedicalHistorySummary">Medical History Summary</label>
                <textarea asp-for="MedicalHistorySummary" class="form-control" rows="5" placeholder="Write short medical history..."></textarea>
                <span asp-validation-for="MedicalHistorySummary" class="text-danger"></span>
            </div>
        </div>

        <div class="form-actions">
            <button type="submit" class="btn-primary">Save Changes</button>
            <a asp-action="Dashboard" asp-controller="Patient" asp-route-id="@Model.PatientId" class="btn-secondary">
                Cancel
            </a>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
